<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(:controller => "articles", :action => "create") do |f| %>
  <label>Title:</label>
  <%= text_field :article, :title %></br>
  </br>
  <label>Description:</label>
  <%= text_area :article, :description %></br>
  </br>
  <%= submit_tag("Create", :style => "width:100px; background:#b2ebf2; ") %>
  </br>
<% end %>