<%= render 'welcome/navbar' %>
<br>
<br>


<h1><strong><u>Articles Listing Page</u> </h1></strong>
<br>
<br>
<div class= "container">
  <table class="table">
    <thead class="thead-dark">
      <tr style= "font-size: 20px; text-align: center;">
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr style= "font-size: 15px; text-align: center;">
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td colspan= "3">
            <%= link_to 'Show', article_path(article) %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<br>
<br>
<center>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style= "color: white;">
    <%= link_to 'Create new article', new_article_path ,  style: 'color:white;', class: 'css_class' %>
  </button>
</center>