<h1>Showing article details</h1>

<div class="card text-center" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Title: <%= @article.title %></h5>
    <p class="card-text"> Description: <%= @article.description%></p>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> |
    <%= link_to 'Return to articles listing', articles_path %>
  </div>
</div>



 