<br>
<div class= "container">
  <% @one_plus_specifications.each do |specification| %> 
      <div class="card mb-3 shadow p-3 rounded" style="max-width: 80%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image_tag "one-plus-logo.png", class: "card-img-top" %>
            </div>
            <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= specification.phone_name%></h5>
              <p class="card-text"><%= specification.launch_date %></p>
              <p class="card-text"><small class="text-muted"><%= time_ago_in_words specification.created_at %> ago</small></p>
              <%= link_to '', one_plu_path(specification), class: "stretched-link"%>
            </div>
            </div>
          </div>
      </div>
  <% end %>
</div>



 