<%# breadcrumb %>
<div class=" container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path%></li>
      <li class="breadcrumb-item"><%= link_to 'One Plus', one_plus_path%></li>
      <li class="breadcrumb-item active"><%= @specification.phone_name %></li>
    </ol>
  </nav>
</div>

  <%= render 'shared/image_carousel' %>

<%# main review %>
<div class= "container">
  <%= render 'shared/review_box' %>
  <%= render 'shared/specification_table' %>
</div>


