<%= render 'navigation'%> 


<p> Ace-Gadgeteer brings you the most promising review of a Gadget. 

</p>

<div class= "container">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner", style= "height: 250px">
        <div class="carousel-item active">
          <%= image_tag "one-plus-logo.png", alt: "image 1", class: "img-responsive" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "apple-logo.png", alt: "image 2", class: "img-responsive", style: "width: 100%"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "samsung-logo.png", alt: "image 3", class: "img-responsive"%>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

</div>

<div class= "container">
    <div class="jumbotron">
        <h1 class="display-4"><strong><u></strong></u></h1>
        <br>
        <div class = "text-center">
            <%= button_to 'Articles Listing', articles_path, :method => :get, class: ' btn-success btn'%>
        </div>
    </div>
</div>